@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
html,
body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  /*height: 107%;*/
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  overflow-x: scroll;
}
html *,
body * {
  box-sizing: border-box;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6 {
  margin: 0;
  padding: 0;
}
html h2,
body h2 {
  font-size: 2.5em;
  font-weight: 700;
  color: #353436;
  margin-bottom: 0.8em;
}
html h3,
body h3 {
  font-size: 2em;
  font-weight: 700;
  color: black;
  margin: auto;
}
html p,
body p {
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  color: #353436;
}
html a,
body a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.8px;
  line-height: 1.5;
}
html .showcase,
body .showcase {
  position: absolute;
  background-color: #dee2e6;
  right: 0;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;
  z-index: 5;
  -webkit-box-shadow: 10px 0px 26px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 0px 26px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0px 26px -10px rgba(0, 0, 0, 0.3);
}
html .showcase.active,
body .showcase.active {
  right: 30vw;
}
html .showcase .header,
body .showcase .header {
  position: relative;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 15vh;
  display: flex;
}
html .showcase .header .logo,
body .showcase .header .logo {
  position: relative;
  cursor: pointer;
}
html .showcase .header .logoimg,
body .showcase .header .logoimg {
  height: 15vh;
}
html .showcase .container,
body .showcase .container {
  background-color: #fff;
  height: 30em;
  width: 65%;
  margin: 3em auto;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  -moz-box-shadow: 5px 5px 35px 0px #cbcbcb;
  -webkit-box-shadow: 5px 5px 35px 0px #cbcbcb;
  -o-box-shadow: 5px 5px 35px 0px #cbcbcb;
  box-shadow: 5px 5px 35px 0px #cbcbcb;
  overflow: hidden;
}
html .showcase .container .wrapper,
body .showcase .container .wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
html .showcase .container .wrapper .slide,
body .showcase .container .wrapper .slide {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html .showcase .container .wrapper .slide .slide-img,
body .showcase .container .wrapper .slide .slide-img {
  width: 40%;
  float: left;
  position: relative;
  height: 100%;
}
html .showcase .container .wrapper .slide .slide-img:before,
body .showcase .container .wrapper .slide .slide-img:before {
  content: "";
  height: 0%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html .showcase .container .wrapper .slide .slide-img.active:before,
body .showcase .container .wrapper .slide .slide-img.active:before {
  content: "";
  height: 100%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
}
html .showcase .container .wrapper .slide .slide-img img,
body .showcase .container .wrapper .slide .slide-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}
html .showcase .container .wrapper .slide .slide-content,
body .showcase .container .wrapper .slide .slide-content {
  width: 60%;
  float: left;
  padding: 5% 8% 0em 8%;
  position: relative;
}
html .showcase .container .wrapper .slide .slide-content h2,
body .showcase .container .wrapper .slide .slide-content h2 {
  position: relative;
}
html .showcase .container .wrapper .slide .slide-content h2:before,
body .showcase .container .wrapper .slide .slide-content h2:before {
  content: "";
  height: 0%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
html .showcase .container .wrapper .slide .slide-content h2.active:before,
body .showcase .container .wrapper .slide .slide-content h2.active:before {
  content: "";
  height: 100%;
}
html .showcase .container .wrapper .slide .slide-content p,
body .showcase .container .wrapper .slide .slide-content p {
  position: relative;
}
html .showcase .container .wrapper .slide .slide-content p:before,
body .showcase .container .wrapper .slide .slide-content p:before {
  content: "";
  height: 0%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-delay: 0.3s;
}
html .showcase .container .wrapper .slide .slide-content p.active:before,
body .showcase .container .wrapper .slide .slide-content p.active:before {
  content: "";
  height: 100%;
}
html .showcase .container .wrapper .slide .slide-content a,
body .showcase .container .wrapper .slide .slide-content a {
  color: #daa815;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  margin-top: 1em;
  position: relative;
}
html .showcase .container .wrapper .slide .slide-content a:before,
body .showcase .container .wrapper .slide .slide-content a:before {
  content: "";
  height: 0%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.5s;
}
html .showcase .container .wrapper .slide .slide-content a.active:before,
body .showcase .container .wrapper .slide .slide-content a.active:before {
  content: "";
  height: 100%;
}
html .showcase .container .wrapper .slide .slide-content .button,
body .showcase .container .wrapper .slide .slide-content .button {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 3em;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
html .showcase .container .wrapper .slide .slide-content .button .inactive i,
body .showcase .container .wrapper .slide .slide-content .button .inactive i {
  color: #ccc;
}
html
  .showcase
  .container
  .wrapper
  .slide
  .slide-content
  .button
  .inactive
  i:hover,
body
  .showcase
  .container
  .wrapper
  .slide
  .slide-content
  .button
  .inactive
  i:hover {
  color: #ccc;
}
html .showcase .container .wrapper .slide .slide-content .button .button-left,
body .showcase .container .wrapper .slide .slide-content .button .button-left {
  float: left;
  width: 50%;
}
html .showcase .container .wrapper .slide .slide-content .button .button-right,
body .showcase .container .wrapper .slide .slide-content .button .button-right {
  float: right;
  width: 50%;
  text-align: right;
}
html .showcase .container .wrapper .slide .slide-content .button i,
body .showcase .container .wrapper .slide .slide-content .button i {
  font-size: 1.3em;
  cursor: pointer;
  color: #555;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html .showcase .container .wrapper .slide .slide-content .button i:hover,
body .showcase .container .wrapper .slide .slide-content .button i:hover {
  color: #000;
}
html .showcase .header .toggle,
body .showcase .header .toogle {
  position: relative;
  width: 60px;
  height: 60px;
  margin: auto 15px;
  background: url(Assets/menu.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
html .showcase .header .toggle.active,
body .showcase .header .toggle.active {
  background: url(Assets/x.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
html .menu,
body .menu {
  z-index: 0;
  position: absolute;
  background-color: #bcb8b1;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .menu ul,
body .menu ul {
  position: relative;
}
html.menu ul li,
body .menu ul li {
  list-style: none;
}
html .menu ul li a,
body .menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
html .menu ul li a:hover,
body .menu ul li a:hover {
  color: #91700c;
}
@media only screen and (max-width: 1375px) {
  html .showcase .container,
  body .showcase .container {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  html h2,
  body h2 {
    font-size: 1.5em;
  }
  html .showcase .container,
  body .showcase .container {
    width: 93%;
    margin: 4% auto;
    height: 100%;
    position: relative;
    top: 0;
    transform: inherit;
    overflow: inherit;
  }
  html .showcase .container .wrapper .slide .slide-img,
  body .showcase .container .wrapper .slide .slide-img {
    width: 100%;
    height: 30vh;
  }
  html .showcase .container .wrapper .slide .slide-content,
  body .showcase .container .wrapper .slide .slide-content {
    width: 100%;
    /*min-height: 385px;*/
    padding: 2em 2em;
    background-color: #fff;
  }
  html .showcase .container .wrapper .slide .slide-content .button,
  body .showcase .container .wrapper .slide .slide-content .button {
    margin-top: 2em;
  }
  html .showcase.active,
  body .showcase.active {
    right: 50vw;
  }
  html .menu,
  body .menu {
    width: 60vw;
  }
  html .showcase .header h3,
  body .showcase .header h3 {
    display: none;
  }
  html .showcase .header .toggle,
  body .showcase .header .toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 500px) {
  html .showcase.active,
  body .showcase.active {
    right: 70vw;
  }
  html .menu,
  body .menu {
    width: 88vw;
  }
  html .showcase .header,
  body .showcase .header {
    height: 10vh;
  }
  html .showcase .header .logoimg,
  body .showcase .header .logoimg {
    height: 10vh;
  }
}
